BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentCaseLabels: true
SpaceBeforeParens: Never
